/* #region common */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.card-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion common */

/* #region header */
.page-header {
  font-size: 16px;
  line-height: 0.67;
  letter-spacing: 2%;
}

.page-nav {
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 0.86;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-color-part {
  color: #2e2f42;
}

.nav-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contact-list {
  font-weight: 400;
}

.contacts {
}

.contact-item {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-item:hover,
.contact-item:focus,
.contact-item:active {
  color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero-section {
  background-color: #2e2f42;
}

.slogan {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region benefits */

.benefits-section {
  background-color: #fff;
}

.benefits-card {
  background-color: #fff;
}

/* #endregion benefits */

/* #region team */

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #fff;
}

/* #endregion team */

/* #region portfolio */
.portfolio-section {
  background-color: #fff;
}
/* #endregion portfolio */

/* #region footer */

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-part {
  color: #f4f4fd;
}
/* #endregion footer */
